  <!------------SECCION SOBRE MI------------------>
  <section class="w-100 p-5 text-white" id="sobre-mi">
    <div class="seccion mt-5 rounded-5 mx-auto {{style}}">
      <div *ngIf="acceso" class="text-end px-3 pt-3">
        <a type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#seccion-sobre-mi"data-bs-whatever="@getbootstrap">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil"viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
          </svg>
        </a>
      </div>
      <p class="my-2 fs-1 fw-bolder pt-3 text-center">SOBRE MI</p>
      <p class="fs-5 px-4"> {{persona.presentacion}} </p>
     
      <p class="fs-5 px-4"></p>
      <p class="mt-5 mx-4 px-2 fw-bolder fs-6">RESUMEN</p>
      <ul class="px-5 pb-2">
        <li class="mb-3">
          <strong class="text-info">Nombre:</strong> {{persona.nombre}}{{persona.apellido}}
        </li>
        <li class="mb-3">
          <strong class="text-info">Direccion:</strong> {{persona.direccion}}
        </li>
        <li class="mb-3">
          <strong class="text-info">Titulo:</strong> {{persona.titulo}}
        </li>
        <li class="mb-3">
          <strong class="text-info">Email:</strong> {{persona.email}}
        </li>
        <li class="mb-3">
          <strong class="text-info">Telefono:</strong> {{persona.telefono}}
        </li>
      </ul>
    </div>
  </section>

  <!------------------MODAL SECCION-SOBRE MI------------------------>
  <div class="modal fade" id="seccion-sobre-mi" tabindex="-1" aria-labelledby="seccion-sobre-miLabel"aria-hidden="true">
    <div class="modal-dialog position-absolute top-50 start-50 translate-middle w-100 h-100">
      <div class="modal-content">
        <div class="modal-header text-center border-info w-100">
          <p class="modal-title fw-bold mx-auto px-5 text-info fs-2" id="seccion-sobre-miLabel">SOBRE MI</p>
          <button type="button" (click)="Reiniciar()" class="bg-danger btn-close btn btn-outline-danger m-0" data-bs-dismiss="modal"aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <textarea text="text" class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)] = "persona.presentacion" name="presentacion" placeholder="Presentacion..."></textarea>
          <input type="text" class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)] = "persona.nombre" name="nombre" placeholder="Nombre...">
          <input type="text" class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)] = "persona.apellido" name="apellido" placeholder="Apellido...">
          <input type="text" class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)] = "persona.direccion" name="direccion" placeholder="Direccion...">
          <input type="text" class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)] = "persona.titulo" name="titulo" placeholder="Titulo...">
          <input type="text" class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)] = "persona.email" name="email" placeholder="Email@.com...">
          <input type="text" class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)] = "persona.telefono" name="telefono" placeholder="Telefono...">
          <div *ngIf="mensaje_error">
            <p class="text-danger fs-4 px-2 rounded-2">{{mensaje_error}}</p>   
          </div>  
          <button  (click)="Actualizar()" type="button" class="btn btn-outline-info fw-bold mt-2">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>