<!--------------SECCION PROYECTOS---------------->
<section class="w-100 p-5 text-white" id="proyectos">
  <div class="seccion rounded-5 carousel slide mt-5 mx-auto {{style}}" data-bs-ride="false">
    <div *ngIf="acceso" class="text-end px-3 pt-3">
      <a (click)="Editar_proyectos()" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#seccion-proyectos"data-bs-whatever="@getbootstrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil"viewBox="0 0 16 16">
          <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
        </svg>
        </a>
    </div>
    <p class="fs-1 fw-bolder text-center">PROYECTOS</p>
    <div id="carouselExampleCaptions" class="carousel slide pb-3" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div *ngFor="let proyecto of proyectos" class="carousel-item active">
          <img src="{{proyecto.url_logo}}" class="d-block mx-auto px-4 w-50 opacity-50" alt="...">
          <div class="carousel-caption d-none d-md-block fw-bold">
            <h5>{{proyecto.nombre}}</h5>
            <p>{{proyecto.descripcion}}</p>
            <a href="{{proyecto.url_repositorio}}"class="option-login nav-link text-white rounded-2 w-25 mx-auto m-4 btn btn-outline-info">Link</a>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<!------------------MODAL SECCION-PROYECTOS------------------------>
<div class="modal fade" id="seccion-proyectos" tabindex="-1" aria-labelledby="seccion-proyectosLabel"aria-hidden="true">
    <div class="modal-dialog position-absolute top-50 start-50 translate-middle w-100 h-100">
      <div class="modal-content">
        <div class="modal-header text-center border-info w-100">
          <p class="modal-title fw-bold mx-auto px-5 text-info fs-2" id="seccion-proyectosLabel">PROYECTOS<p>
          <button type="button" class="bg-danger btn-close btn btn-outline-danger m-0" data-bs-dismiss="modal"aria-label="Close"></button>
        </div>
        <div class="nombre modal-body px-3">
          <div *ngFor="let proyecto of proyectos_editados">
            <p class="modal-title fw-bold text-info m-2 fs-6">Proyecto Nº{{proyecto.id_proyecto}}<p>
              <input class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)]="proyecto.url_logo" name="url_logo" placeholder="url imagen...">
              <input class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)]="proyecto.nombre" name="nombre" placeholder="Nombre...">
              <input class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)]="proyecto.descripcion" name="descripcion" placeholder="Descripcion..">
              <input class="form-control bg-black opacity-75 border-info mb-4 fw-bold text-white" [(ngModel)]="proyecto.url_repositorio" name="url_repositorio" placeholder="url repositorio...">
          </div>
        </div>
        <div *ngIf="mensaje">{{mensaje}}</div>
        <button (click)="Guardar()"  class="btn btn-outline-info mx-3 w-25 fw-bold m-4">GUARDAR</button>
      </div>
    </div>
</div>